<div class='jumbotron' style="background-color: rgba(51, 153, 255, 1)">

  <h1>
    <img src="http://i.imgur.com/Q8dXQFt.png" class="img-fluid" alt="Responsive image"/> HUB
  </h1>

    <p>
      Welcome to IDRA Hub!  A place where Droners can post to either sell or buy any drones as well as any drone parts.  It is also a place where IDRA posts it's own ranking system.
    </p>

    <div>
      <%= link_to 'SIGN UP AS NEW DRONER', new_user_path, class: 'btn btn-primary' %>
    </div>

      <%= form_for :login, url: "/login" do |f| %>

        <div>
          <%= f.label :username %><br>
          <%= f.text_field :username %>
        </div>

        <div>
          <%= f.label :password %><br>
          <%= f.password_field :password %>
        </div><br>

          <%= f.submit 'Login', class: 'btn btn-primary' %>
          
      <% end %>
</div>
