<%= render 'header' %>

<div class="alert alert-info" role="alert">
  <h1>Welcome
    <% if current_user.admin == true %>
    Admin
    <% else %>
    Droner
    <% end %>
    <%= current_user.name if current_user %>
  </h1>
</div>

<div class="row">
  <div class="col-lg-5 col-lg-4">
    <div class="thumbnail-responsive">
      <%= image_tag current_user.image.url(:large), class: "media-responsive" %>
      <div class="caption">
        <h2>IDRA HUB Member since: <%= current_user.created_at %></h2>
          <h3>Your username is: <%= current_user.username %></h3>
          <h3>Gender:
            <% if current_user.gender %>
              Male
            <% else %>
              Female
            <% end %>
          </h3>
          <h3>Date of Birth: <%= current_user.date_of_birth %></h3>
          <h3>Email: <%= current_user.email %></h3>
          <h3>Phone Number: <%= current_user.phone %></h3>
        <p>
          <%= link_to 'Post A Product!', new_product_path, class: "btn btn-info" %>
          <%= link_to 'Edit Your Profile', edit_user_path(current_user), class: "btn btn-warning" %>
          <%= link_to 'Log Out', logout_path, method: :delete, class: "btn btn-danger" %>
          <%= link_to 'Delete Your Account', user_path(current_user), method: :delete, class: "btn btn-danger", data: {confirm: "Are you Sure?"} %>
        </p>
      </div>
    </div>
  </div>
</div>
