<h1>New Registration</h1>

<%= form_for @user do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div>
    <%= f.label :gender %>
    <%= f.check_box :gender %>
  </div>
  <div>
    <%= f.label :admin %>
    <%= f.check_box :admin %>
  </div>
  <div>
    <%= f.label :date_of_birth %>
    <%= f.date_field :date_of_birth %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

<%= link_to "Back to Login", users_path %>
