<%= render 'header' %>

<%= image_tag @user.image.url(:large) %>

<ul>

  <li>Username is: <%= @user.username %></li>
  <li>Email: <%= @user.email %></li>
  <li>Phone Number: <%= @user.phone %></li>

</ul>
