<%= form_for @product do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :price %>
    <%= f.number_field :price, :step => 0.001 %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :for_sale %>
    <%= f.select :for_sale, options_for_select([["Select One", ""], "Selling", "Buying"])%>
  </div>
  <div>
    <%= f.fields_for :images do |ff| %>
      <%= ff.label :image %>
      <%= ff.file_field :image %>
    <% end %>
  </div>
  <div>
    <%= f.submit "Create", class: 'btn btn-primary' %>
  </div>
<% end %>
