<%= form_for @product do |p| %>
  <div>
    <%= p.label :name %>
    <%= p.text_field :name %>
  </div>
  <div>
    <%= p.label :price %>
    <%= p.number_field :price, :step => 0.001 %>
  </div>
  <div>
    <%= p.label :description %>
    <%= p.text_field :description %>
  </div>
  <div>
    <%= p.label :for_sale %>
    <%= p.select :for_sale, options_for_select([["Select One", ""], "Selling", "Buying"])%>
  </div>
  <div>
    <%= p.submit %>
  </div>
<% end %>
