<%= render 'header' %>

<h1>Edit Your Product</h1>


<%= form_for @product do |f| %>

  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :price %><br>
    <%= f.number_field :price, :step => 0.001 %>
  </div>

  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description, :cols => '80', :rows => '10'%>
  </div>

  <div>
    <%= f.label :for_sale %><br>
    <%= f.select :for_sale, options_for_select([["Select One", ""], "Selling", "Buying"])%>
  </div>

  <div>
    <%= f.submit "Edit", class: 'btn btn-primary' %>
  </div>

<% end %>

<div>
  <%= link_to "Add Another Image", new_product_image_path(@product), class: 'btn btn-info' %>
</div>
