<%= render "header" %>

<h2> <%= link_to "POST A PRODUCT", new_product_path, class: 'btn btn-info'%> </h2>

<div class="table-responsive">
  <% @products.each do |product| %>
    <table class="table table-striped-responsive">
      <thead>
        <tr>
          <th>Product Image</th>
          <th>Product Name</th>
          <th>Price</th>
          <th>Your Product?</th>
          <th>Buying or Selling?</th>
          <th>Date Created</th>
          <th>Date Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
              <%= image_tag product.images.first.image.url(:small) if product.images.length > 0 %>
          </td>
          <td><%= product.name %></td>
          <td>$<%= product.price %></td>
          <td>
            <% if product.user == current_user %>
            Yes
            <% else %>
            No Posted by: <%= product.user.name %><br>
            <%= link_to "Go to Droner's Profile", user_path(product.user), class: 'btn btn-info'%>
            <% end %>
          </td>
          <td><%= product.for_sale %></td>
          <td><%= product.created_at %></td>
          <td><%= product.updated_at %></td>
          <td><%= link_to "Details", product, class: 'btn btn-info'%></td>
          <% if product.user == current_user || current_user.admin == true %>
            <td><%= link_to "Edit", edit_product_path(product), class: 'btn btn-warning'%></td>
            <td><%= link_to "Delete", product, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'  %></td>
          <% end %>
        </tr>
      </tbody>
    </table><br>
  <% end %>
</div>
