<h1>IDRA Hub</h1>

<ul>
  <% @products.each do |product| %>
  <li><%= product.name %></li>
  <li><%= product.price %></li>
  <li><%= product.description %></li>
  <li><%= product.user %></li>
  <li><%= product.created_at %></li>
  <li><%= product.updated_at %></li>
  <% end %>
</ul>
