<%= render "header" %>

<ul>
  <% @products.each do |product| %>
  <li>Product Name: <%= product.name %></li>
  <li>Price: $<%= product.price %></li>
  <li>Posted By: <%= product.user.name %> </li>
  <li>Date Created: <%= product.created_at %></li>
  <li>Date Updated: <%= product.updated_at %></li>
  <% end %>
</ul>
