<%= render 'header' %>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Links On Phone
</button>

<div class="container">
  <div class="collapse" id="collapseExample">
    <div class="well">
       <%= link_to "Main Hub", products_path, style: "color: blue"%><br>
       <%= link_to "Profile", users_path, style: "color: white" %><br>
       <%= link_to "Ranking System", products_path, style: "color: blue"%><br>
       <%= link_to "About IDRA Team", products_path, style: "color: blue"%><br>
    </div>
  </div>
</div>

<h1>Post Product On IDRA Hub</h1>

<%= render 'form' %>
