<%= render 'header' %>

<h1><%= @product.name.capitalize %></h1>

<div>
  <% @product.images.each do |image| %>
  <%= image_tag image.image.url(:large) %>
  <% end %>
</div><br>

<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style='text-align: center'>Price</th>
        <th style='text-align: center'>Buying or Selling?</th>
        <th style='text-align: center'>Posted By</th>
        <th style='text-align: center'>Created at</th>
        <th style='text-align: center'>Updated On</th>
        <th style='text-align: center'>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>$<%= @product.price %></td>
        <td><%= @product.for_sale %></td>
        <td><%= @product.user.name %></td>
        <td><%= @product.created_at %></td>
        <td><%= @product.updated_at %></td>
        <td><%= @product.description %></td>
      </tr>
    </tbody>
  </table>
</div>

<% if @product.user == current_user || current_user.admin %>
  <div><%= link_to "Delete this Product", @product, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></div><br>
  <div><%= link_to "Edit this product", edit_product_path(@product), class: 'btn btn-warning'%></div><br>
<% end %>

<div>
  <div class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">WRITE A COMMENT</div>
</div>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <%= form_for([@product, @comment]) do |c| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= c.label :message %></h4>
      </div>
      <div class="modal-body">
        <p><%= c.text_area :content, :cols => '75', :rows => '5'%></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= c.submit 'Submit Comment', class: 'btn btn-primary'%>
      </div>
    </div>
    <% end %>
  </div>
</div>



<% @product.comments.each do |comment| %>
<div class="media" style="background-color: white">
  <div class="media-left">
    <%= image_tag comment.user.image.url(:small), class: "media-responsive" %>
    <h4><%= comment.user.username %></h4>
  </div>
  <div class="media-body">
    <p><%= comment.content %></p>
  </div><br>
</div>
  <% if comment.user || comment.user.admin %>
    <%= link_to "Delete Comment", product_comment_path(@product, comment), method: :delete, data:{confirm: "Are You Sure?"}, class: "btn btn-danger" %>
  <% end %>
<% end %>
