<h1><%= @product.name.capitalize %></h1>

<div>
  Price: $<%= @product.price %>
</div>
<div>
  Buying or Selling? <%= @product.for_sale %>
</div>
<div>
  Posted By: <%= @product.user.name %>
</div>
<div>
  Posted By: <%= @product.created_at%>
</div>
<div>
  Posted By: <%= @product.updated_at %>
</div>
<p><%= @product.description %></p>
