<h1><%= @product.name.capitalize %></h1>
<div>

  <% @product.images.each do |image| %>
  <%= image_tag image.image.url(:large) %>
    <% end %>
</div>
<div>
  Price: $<%= @product.price %>
</div>
<div>
  Buying or Selling? <%= @product.for_sale %>
</div>
<div>
  Posted By: <%= @product.user.name %>
</div>
<div>
  Posted By: <%= @product.created_at%>
</div>
<div>
  Posted By: <%= @product.updated_at %>
</div>
<p><%= @product.description %></p>

<% if @product.user == current_user || current_user.admin == true %>
  <%= link_to "Delete", @product, method: :delete, data: {confirm: 'Are you sure?'}  %><br>
  <%= link_to "Edit", edit_product_path(@product)%>
<% end %>

<%= form_for([@product, @comment]) do |c| %>
  <div>
    <%= c.label :message %><br>
    <%= c.text_field :content %>
  </div>
    <%= c.submit 'Submit Comment'%>
<% end %>

<% @product.comments.each do |comment| %>
  <%= comment.content %>
  <%= comment.user.username %>
<% end %>
