<h1><%= @product.name.capitalize %></h1>

<div>
  Price: $<%= @product.price %>
</div>
<div>
  Buying or Selling?
  <% if @product.for_sale %>
    Buying
  <% else %>
    Selling
  <% end %>
</div>
<div>
  Posted By: <%= @product.user.name %>
</div>
<div>
  Posted By: <%= @product.created_at%>
</div>
<div>
  Posted By: <%= @product.updated_at %>
</div>
<p><%= @product.description %></p>
